* {
    margin: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    height: 100px;
}

.main-nav {
    display: flex;
    list-style: none;
    column-gap: 2.5rem;
}

.main-nav li > a {
    text-decoration: none;
    color: black;
    font-family: Karla, sans-serif;
    font-size: 1rem;
    font-weight: 800;
}

.hero {
    background-color: #495E57;
    max-height: 470px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}

.hero-description {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.hero-description > h1 {
    font-family: Markazi Text, sans-serif;
    font-size: 4rem;
    font-weight: 500;
    color: #F4CE14;
    margin-top: 2.5rem;
}

.hero-description > p:first-of-type {
    font-family: Markazi Text, sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: #EDEFEE;
}

.hero-description > p:last-of-type {
    font-family: Karla, sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    color: #EDEFEE;
    max-width: 14rem;
    margin-top: 1rem;
    line-height: 1.2;
}

.hero-description button {
    background-color: #F4CE14;
    width: 196px;
    height: 53px;
    font-family: Karla, sans-serif;
    font-size: 1.125rem;
    font-weight: 800;
    color: #333333;
    border-radius: 16px;
    border-color: #333333;
    margin-top: 1.8rem;
}

.hero-image {
    width: 45%;
    max-width: 500px;
    aspect-ratio: 4 / 5;
    margin-top: 2rem;
}

.hero-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.specials-container {
    padding-bottom: 3rem;
}

.specials-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 8rem auto 0;
}

.specials-header > h2,
.specials-header > button {
    font-family: Karla, sans-serif;
}

.specials-header > h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

.specials-header > button {
    background-color: #F4CE14;
    width: 196px;
    height: 53px;
    font-size: 1.125rem;
    font-weight: 800;
    color: #333333;
    border-radius: 16px;
}

.specials-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
    margin: 2.5rem auto 0;
    column-gap: 4rem;
}

.dish-card {
    background-color: #EDEFEE;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.dish-card > p {
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    min-height: 8rem;
    line-height: 1.3;
}

.dish-card > a {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #333333;
    cursor: pointer;
}

.card-image {
    aspect-ratio: 4 / 3;
}

.card-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.card-header,
.dish-card > p,
.dish-card > a {
    font-family: Karla, sans-serif;
    padding-inline: 2rem;
}

.card-header > h3 {
    font-size: 1.125rem;
    font-weight: 700;
}

.card-header > p {
    font-size: 1rem;
    font-weight: 500;
    color: red;
}

.testimonials-container {
    background-color: #EE9972;
    padding-bottom: 4rem;
}

.testimonials-container > h2 {
    padding: 3.5rem 0 3rem 0;
    justify-self: center;
    font-family: Karla, sans-serif;
    font-size: 1.6875rem;
    font-weight: 700;
}

.review-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 900px;
    column-gap: 2rem;
}

.review-card {
    background-color: white;
    font-family: Karla, sans-serif;
}

.rating {
    margin: 1rem 0 0.5rem 1rem;
}

.reviewer {
    display: flex;
    align-items: center;
}

.reviewer-image {
    width: 45%;
    max-width: 100px;
    aspect-ratio: 1 / 1;
    margin: 0 0.5rem 0 1rem;
}

.reviewer-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviewer > h3 {
    font-size: 1.0625rem;
    font-weight: 700;
}

.review-card > p {
    font-size: 0.625rem;
    font-weight: 700;
    margin: 0.5rem 1rem 1rem 1rem;
    line-height: 1.3;
}

.about-container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 6rem auto;
}

.about-content > h2,
.about-content > p:first-of-type {
    font-family: Markazi Text, sans-serif;
}

.about-content > h2 {
    font-size: 4rem;
    font-weight: 500;
}

.about-content > p:first-of-type {
    font-size: 1.6875rem;
    font-weight: 400;
}

.about-content > p:last-of-type {
    font-family: Karla, sans-serif;
    max-width: 280px;
    text-align: justify;
    margin-top: 1.5rem;
    line-height: 1.3;
}

.owners-image-left,
.owners-image-right {
    width: 60%;
    max-width: 300px;
    aspect-ratio: 7 / 9;
}

.owners-image-left > img,
.owners-image-right > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-images {
    display: flex;
    position: relative;
    top: 25px;
    right: 37px;
    width: 420px;
}

.owners-image-right {
   position: absolute;
   z-index: 1;
   bottom: 50px;
   left: 205px;
}

.owners-image-left {
    z-index:2;
}

footer {
    background-color: #495E57;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    padding-block: 3rem;
}

.footer-container > img {
    width: 100%;
    max-width: 9rem;
    height: auto;
}

.footer-nav {
    list-style: none;
    padding: 0;
}

.footer-nav li > a {
    text-decoration: none;
}

.footer-nav li > a,
.footer-container section > address p {
    color: #EDEFEE;
    font-family: Karla, sans-serif;
    font-size: 1.1875rem;
    font-style: normal;
}

.footer-container > nav > h3,
.footer-container > section > h3 {
    color: #F4CE14;
    font-family: Karla, sans-serif;
    font-size: 1.3125rem;
    font-weight: 700;
}

.footer-container > nav > h3 {
    max-width: 90px;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    column-gap: 1rem;
    justify-content: center;
}

.social-links li > a {
    color: #EDEFEE;
    font-size: 3rem;
}

.footer-container > section:last-of-type {
    justify-self: end;
}

.copyright {
    grid-column: 1 / 5;
    text-align: right;
    margin-top: 2.5rem;
    font-family: Karla, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #EDEFEE;
}

.footer-container h3 {
    min-height: 3rem;
    margin-bottom: 0.5rem;
}

/* Mobile Responsiveness */

@media(max-width:440px) {
    .main-nav {
        flex-wrap: wrap;
        column-gap: 0.5rem;
    }

    .header-container {
        margin-left: 1rem;
    }

    .hero {
        max-height: none;
    }

    .hero-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .hero-image {
        margin-top: 0;
        width: 100%;
        aspect-ratio: 4 / 3;
    }

    .hero-image > img {
        border-radius: 0;
    }

    .hero-description {
        padding-bottom: 2.5rem;
    }

    .hero-description > h1 {
        margin-top: 1rem;
    }

    .specials-header {
        max-width: 330px;
        margin-top: 2rem;
    }

    .specials-header > h2 {
        font-size: 1.5rem;
    }

    .specials-header > button {
        width: 120px;
        height: 40px;
        font-size: 1rem;
    }

    .specials-cards {
        grid-template-columns: 1fr;
        max-width: 330px;
        row-gap: 2.5rem;
    }

    .card-image {
        max-width: 330px;
        margin: 0 auto;

    }

    .dish-card > p {
        min-height: 7rem;
    }

    .dish-card > a {
        margin-top: 0;
    }

    .review-cards-container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0.5rem;
        row-gap: 0.5rem;
        max-width: 350px;
    }

    .about-images {
        position: static;
        max-width: 330px;
        column-gap: 0.3rem;
    }

    .owners-image-right {
        position: static;
    }

    .about-container {
        flex-direction: column-reverse;
        max-width: 330px;
        margin-block: 2rem;
        align-items: center;
    }

    .about-content {
       max-width: 280px;
    }

    .about-content > h2 {
        margin-top: 1.5rem;
    }

    .footer-container {
        grid-template-columns: 1fr;
    }

    .copyright {
        grid-column: 1 / 2;
        justify-self: center;
    }

    .footer-container > img {
        max-width: 4.5rem;
        justify-self: center;
    }

    .footer-container > nav,
    .footer-container section,
    .footer-container > section:last-of-type {
        justify-self: center;
        text-align: center;
    }

    .footer-container > nav > h3 {
        max-width: none;
    }

    .footer-container h3 {
        margin-bottom: -0.9rem;
    }

    .footer-container > img,
    .footer-nav,
    .footer-container address {
        margin-bottom: 1.3rem;
    }
}

